<section class="card p-3">
  <h3>{{title}}</h3>
  <p>{{content}}</p>
  <p>Posted by {{user.username}} on {{format_date create_date}}</p>



  <h3>Comments</h3>

  <div>
    {{#each comments}}
    <p>{{content}}</p>
    <p>-{{user.username}}, {{format_date createdAt}}</p>
    {{/each}}
  </div>

  <div>
    <form class="form new-comment" data-id="{{id}}">
      <div class="form-group d-flex flex-column">
        <h3 for="comment-input">New Comment:</h3>
        <textarea id="comment-input"></textarea>
      </div>
      <div class="form-group my-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
</section>

<script src="/js/comment.js"></script>